.custom-layout {
    display: flex;
    justify-content: space-between;

    .item {
        flex: 1;
        margin: 0 10px;

        p {
            text-align: center;
        }
        
        blockquote {
            color: #6F6363;
        }
    }
}
