$pageWidth: 900px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1200px;
$sidePanelWidth: 380px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$quote-color-light: #FFA07A; // Example color from lightMode
$quote-color-dark: #AFCCE0;  // Example color from darkMode

